node_modules
.DS_Store
samples/hugo/beautiful/metadata.yaml
samples/hugo/beautiful/site/themes
samples/hugo/beautiful/site/content
samples/hugo/beautiful/site/resources
samples/hugo/beautiful/site/static
.hugo_build.lock
.auth