node_modules
.DS_Store
samples/hugo/universal/metadata.yaml
samples/hugo/universal/site/themes
samples/hugo/universal/site/content
samples/hugo/universal/site/resources
samples/hugo/universal/site/static

samples/hugo/beautiful/metadata.yaml
samples/hugo/beautiful/site/themes
samples/hugo/beautiful/site/content
samples/hugo/beautiful/site/resources
samples/hugo/beautiful/site/static
.hugo_build.lock
.auth